<!-- 组合小车底盘与摄像头 -->
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="inertia.xacro" />
    <xacro:include filename="base_inertia.xacro" />
    <xacro:include filename="camera_inertia.xacro" />
    <xacro:include filename="laser_inertia.xacro" />
    <xacro:include filename="controller.xacro" />
    <xacro:include filename="sensor.xacro" />
    <xacro:include filename="kinect.xacro" />
    
</robot>

